@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}

#search{
    padding: 7px;
    font-size: 13px;
    border: 2px solid grey;
    border-radius: 9px;
    width: 251px;
    
}
.btn-sm{
    width: 58px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
}

#contact{
	height: 750px;
    width: 58%;
    margin: 87px 282px;
	background-color: white;
	color : black;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0px 8px 16px 0px gray;
}
.hd-cntc{
	text-align: center;
    font-size: 62px;
    font-weight: 900;
    font-family: 'Dancing Script', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    padding: 58px;
    margin: -42px 28px;
}


#contact img{
	
	display: block;
    display: block;
    margin: 3px 30px;
    cursor: pointer;
}
.contact-img{
	height: 50px;
	width: 50px;

}
.contact-img:hover{
	transform: rotate(360deg);
	height: 60px;
	width: 60px;
	transition-duration: 0.8s;
}
.cn-cn{
	padding-top: 20px;
	display: block;
}
.link-1,.link-2,.link-3{
	padding-left: 185px;;
    padding-top: 19px;
    display: flex;
    justify-content: flex-start;
    
}
.cn-text{
    margin: 25px;
    font-size: 21px;
}
/* .ml-text{
    margin: 26px;
}
.cl-text{
    margin: 26px;
}
.cl-text{
    margin: 26px;
} */